<%- include('header') -%>


<div class="mainContainer container-fluid text-center p-5">
    <div class="formDiv">
        <h1>
            LOG IN SYSTEM   
        </h1>
        <form action="/route/login" method="POST" >
            <div class="form-group">
                <input type="email" name='email' placeholder="email">
            </div>
            <div class="form-group">
                <input type="password"  name='password' placeholder="password">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>


<%- include('footer') -%>